.task_details{
	border: 1px solid black;
}

.task_details{
	display: none;
}

.shown_task_details{
	display:inline-block;
}

.task_completed_container{
	margin-top: 10vh;
}


.add-button{
	font-size: 30px;
	border-style: none;
}
.todo-label{
	text-align: right;
}
html{
	width: 350px;
	height: 500px;
}
body{
	width: 500px;
	height: 500px;
}

.top_navbar {
	
}

