.task_details{
	border: 1px solid black;
}

.task_details{
	display: none;
}

.shown_task_details{
	display:inline-block;
}

.task_completed_container{
	margin-top: 10vh;
}


.add-button{
	font-size: 30px;
	border-style: none;
}
.todo-label{
	text-align: right;
}
html{
	width: 500px;
	height: 500px;
}
body{
	width: 500px;
	height: 500px;
	background-color:#F0F2EB;
}

.top_navbar {
	background-color:#F0F2EB;
	
}

.clicked_btn{
	display:none;
}

.brownline
{
	height:24px;
	background-color:#FF4242;
}

.add_task_button
{
	background-color:#D4EE5E;
}

.login_form_button
{
	background-color:#FF4242;
}
h2
{
	font-family:Impact, Charcoal, sans-serif;
	font-weight:200;
}
